a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}

.works-container{
    padding: 3%;
}

.works-selector{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
}

.works-title{
    font-size: 1.8em
}

.work-tag{
    margin: 0 1em 0 1em;
    padding: .4em;
    background-color: rgba(54, 179, 54, 0.884);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .works-selector{
        display: block;
        margin-bottom: 5%;
    }

    .works-title{
        font-size: 150%;
        margin-bottom: 5%;
    }

    .work-tags{
        display: flex;
        justify-content: flex-start;
        gap: 2%;
    }

    .work-tag{
        margin: 0;
        padding: .4em;
        background-color: rgba(54, 179, 54, 0.884);
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
}