.ml-1{
    margin-left: 1em;
}

.home{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.currentProjects{
    margin-top: 3%;
    padding: 0 3% 0 3%;
}

.feed{
}

.feed-image{
    background-image: url("../../../images/construction.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.feed-article{
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: rgba(176, 204, 190, 0.719);
    height: 45%;
    width: 60%;
    padding: 3%;
}

.feed-article-title{
    font-size: 200%;
}

.feed-article-paragraph{
    font-size: 100%;
    margin: 3% 0 6% 0;
}

.feed-article-btn{
    text-decoration: none;
    color: white;
    background-color: teal;
    padding: 1% 2% 1% 2%;
    width: 20%;
}


@media only screen and (max-width: 500px) {
    .home-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .home{
    }

    .feed-image{
        height: 30rem;
        display: flex;
        align-items: flex-end;
    }

    .feed-article-btn{
        text-decoration: none;
        color: white;
        background-color: teal;
        padding: 2% 2% 2% 2%;
        width: 45%;
    }

    .feed-article{
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feed-article-title{
        font-size: 150%;
    }
    
    .feed-article-paragraph{
        font-size: 90%;
        margin: 3% 0 6% 0;
    }
}